    <li class="single_site_list a_site">
      <div class="single_site_list_top"> <a style="background-image: url(/static/albums/<%= item.id %>_large.jpg);" class="single_site_image" href="/album/<%= item.id %>"><span class="album_list_title"><%= item.name %></span></a></div>
      <div class="single_site_list_bottom"> <a class="single_site_list_link" href="/artist/<%= item.artist_id %>">  <%= item.artist %> </a> </div>
      <div class="site_sort_data"> <span class="site_sort_attr">View: <%= item.view %></span> </div>
    </li>
    