<div id="audio_top">
  <div class="audio_top_info">
    <div id="audio_top_info_item_location" class="audio_top_info_item">Artist: <a href="/artist/<%= artist_id %>"><%= artist %></a></div>
  </div>
  <div class="audio_top_avatar"> <img src="/static/albums/<%= id %>_medium.jpg" width="75" height="75" id="playlist_top_cover_img" /> </div>
  <div class="audio_top_text">
    <div id="audio_top_username" class="playlist_page_title">
      <div id="playlist_name"><%= name %></div>
    </div>
    <div class="playlist_top_bio" id="playlist_descr"><%= descr %></div>
    <div class="audio_top_play_all button_icon">Play All</div>
  </div>
</div>
<div id="item_rows"></div>