<div class="audio_page">
    <div class="audio_page_main a_audio a_audio_<%= id %>">
    <%
        var useDefault = false;
        var img = image.large;
        if (image.large == null){
            useDefault = true;
        }else if(img.indexOf(\'last.fm\') != -1){
            img = img.replace(\'252\', \'500\');
        }

    %>
        <div class="audio_page_coverart" style="background-image:<%= Utils.CoverArt(img, \'252x252\') %>">
            <div class="play_button audio_view_play_button"></div>

</div>

    <% if(Utils.HasValue(trending_rank_today) && trending_rank_today < 20){ %>
        <a href="/trending" class="audio_page_trending_rank tooltip" tooltip="Currently Trending">
            <%= trending_rank_today >= 10 ? trending_rank_today : \'0\'+trending_rank_today %>
        </a>
    <% } %>

        <div class="audio_page_metadata">
            <div class="audio_page_title"><%= title %></div>
        <% if (Utils.HasValue(artist) == true) { %>
            <div class="audio_page_artist"><span class="meta_descriptor">by </span><% if(artists.length > 0){ %><% _.each(artists, function(sa, i){
                        if(artists.length > 0 && sa != " "){
              %><a href="/artist/<%= sa.id %>"><%= sa.name %></a><% if (i<(artists.length-1)) { %>, <% } %><%
                        }
                    });
                %>

            <% } %>
              
              </div>
        <% } %>
        <% if (Utils.HasValue(album) == true) { %>
            <div class="audio_page_album"><%= album %></div>
        <% } %>
            <div class="audio_page_source">
                <a href="<%= sources[0] %>" target="_blank" outbound_type="audio_page_source"><%= Utils.CleanHref(sources[0]) %></a>
            </div>

            <% if(tags.length > 0){ %>
                <div class="audio_page_tags">
                    <span>tags</span>
                    <div class="audio_page_tags_container">
                <% _.each(tags, function(tag){
                        if(tag.length > 0 && tag != " "){
                %>
                    <a class="audio_page_tag" href="/explore/<%= tag %>"><%= tag %></a>
                <%
                        }
                    });
                %>

                    </div>
                    <br class="clear" />
                </div>

            <% } %>
            
              <% if(created_on){ %>
                <div class="audio_page_tags">
                    <span>Created</span>
                    <div class="audio_page_tags_container">
               
                      <a class="audio_page_tag"><%= Utils.PrettyDate(created_on) %></a>
               

                    </div>
                    <br class="clear" />
                </div>

            <% } %>
              
            <div class="audio_page_actions_bar">


                <div class="audio_page_actions">
                <% if (viewer_love != null){ %>
                    <div class="audio_action audio_action_love audio_view_love audio_view_love_<%= id %> on tooltip" tooltip="Loved"></div>
                <% } else { %>
                    <div class="audio_action audio_action_love audio_view_love audio_view_love_<%= id %> tooltip" tooltip="Add this audio"></div>
                <% } %>
                    <div class="audio_action audio_action_queue audio_view_queue tooltip" tooltip="Add to Queue"></div>
                    <div class="audio_action audio_action_share audio_view_share tooltip" tooltip="Share this audio"></div>
                </div>
                <br class="clear" />
            </div>
        </div>
        <br class="clear" />
    </div>
<% if (ordered_loves.length > 0){ %>
    <div class="audio_page_loved_by">
        <div class="audio_page_loved_by_header"><%= loved_count %> Love<%= loved_count > 1 ? \'s\' : \'\' %></div>
        <div class="audio_page_recent_loves">
        <%
            ordered_loves.reverse();
            _.each(ordered_loves, function(recent_love){
        %>
            <a class="audio_page_recent_loves_avatars" style="background-image:url(<%= QMP3_AVATAR_HOST %>avatar_medium_<%= recent_love.username %>.jpg);" href="/<%= recent_love.username %>">
                <span class="audio_page_love_username"><%= recent_love.username %>
                    <em class="audio_page_love_date"> &ndash; <%= Utils.PrettyDate(recent_love.created_on) %> </em>
                </span>
            </a>
        <% }); %>
            <br class="clear" />
        </div>
    </div>
<% } %>
<div class="audio_page_comments">
    <%
        if (recent_loves.length > 0){
            _.each(recent_loves, function(recent_love){
                if (Utils.HasValue(recent_love.comment) == true) {
                    %>
                    <div class="audio_page_user_comment">
                        <a class="audio_page_comment_avatar" style="background-image:url(<%= QMP3_AVATAR_HOST %>avatar_small_<%= recent_love.username %>.jpg);" href="/<%= recent_love.username %>"></a>
                        <div class="audio_page_comment">
                            <%= recent_love.comment %>
                            <div class="audio_page_comment_meta"><a href="<%= sources[0] %>" class="comment_username" outbound_type="audio_page_comment_link" target="_blank"><%= recent_love.username %></a> <span class="comment_time"> <%= Utils.PrettyDate(recent_love.created_on) %></span></div>
                        </div>
                        <br class="clear" />
                    </div>
                    <%
                }
            })
        }
        if (user_love != null){
            if (Utils.HasValue(user_love.comment) == true) {
                %>
                <div class="audio_page_user_comment">
                    <a class="audio_page_comment_avatar" style="background-image:url(<%= QMP3_AVATAR_HOST %>avatar_small_<%= user_love.username %>.jpg);" href="/<%= user_love.username %>"></a>
                    <div class="audio_page_comment">
                        <%= user_love.comment %>
                        <div class="audio_page_comment_meta"><a href="<%= sources[0] %>" outbound_type="audio_page_comment_link" target="_blank" class="comment_username"><%= user_love.username %></a> <span class="comment_time"> <%= Utils.PrettyDate(user_love.created_on) %></span></div>
                    </div>
                    <br class="clear" />
                </div>
                <%
            }
        }
    %>
</div>