<div class="modal_close_button" id="create_account_close_button"></div>
<div class="modal_top">Welcome to TANCODE!</div>
<div id="create_account_box_middle" class="modal_middle">
    <div id="create_account_success_title">What do you like to do now?</div>
  <div class="modal_bottom_button generic_button create_account_success_next" href="settings/social">Find friends</div>
  <div class="modal_bottom_button generic_button create_account_success_next" href="trending">Listen to Great Music!</div>

  <br class="clear" />
</div>