<div class="modal_close_button" id="create_account_close_button"></div>
<div class="modal_top">Create account</div>
<div id="create_account_box_middle" class="modal_middle">
    <div id="create_account_success">Success!</div>
    <div id="create_account_user_info">
    <% if (service_info.is_default_profile_image == false){ %>
        <div id="create_account_avatar" style="background-image: url(<%= service_info.pic %>);"></div>
    <% } else { %>
        <div id="create_account_avatar" style="background-image: url(' + player_root + 'static/users/avatar_medium_default.png);"></div>
    <% } %>
        <div id="create_account_name"><%= service_info.name %></div>
        <div id="create_account_location"><%= service_info.location %></div>
        <br class="clear" />    
    </div>
    
    <div id="create_account_success">Complete Your Profile</div>
    <form id="create_account_form" action="" method="post">
        <div class="create_account_input_div">
            <label class="create_account_label" for="create_account_username">Username:</label>
            <input type="text" id="create_account_username" class="large_input_text" value="<%= service_info.username %>" />
            <div class="clear"></div>
        </div>
        <div class="create_account_input_div">
            <label class="create_account_label" for="create_account_email">Email:</label>
            <input type="text" id="create_account_email" class="large_input_text" value="<%= service_info.email %>" />
            <div class="clear"></div>
        </div>
        <div class="create_account_input_div">
            <label class="create_account_label" for="create_account_password">Password:</label>
            <input type="password" id="create_account_password" class="large_input_text" />
            <div class="clear"></div>
        </div>
        <input type="submit" class="hidden" />
    </form>
    <div class="input_message" id="create_account_message"></div>
  <div class="modal_bottom_button generic_button" id="create_account_button">Continue</div>
  <br class="clear" />
</div>
