<div class="explore_section explore_siteoftheday" id="explore_sotd">
  <div class="explore_section_wrapper">
    <div class="explore_section_header">
      <div class="explore_play_button audio_top_play_all" id="explore_play_button_sotd"></div>
      <div class="explore_header_wrapper">
        <div class="explore_header">Top of the Week</div>
        <div class="explore_description">Top tracks. Hover the title above to chose between day, week, month, year etc.</div>
      </div>
    </div>
    <div class="explore_content" id="explore_content_sotd">
      <div id="item_rows"></div>
    </div>
  </div>
</div>