<div class="explore_section explore_latestloved" id="explore_loved">
  <div class="explore_section_wrapper">
    <div class="explore_section_header">
      <div class="explore_header_wrapper" style="padding-left:40px;">
        <div class="explore_header">Latest&nbsp;  &#x25b6;lists</div>
        <div class="explore_description">Latest&nbsp;  &#x25b6;lists that have just been created by our users on AltSounds LISTEN.</div>
      </div>
    </div>
    <div class="explore_content" id="explore_content_latest_loved">
      <div id="item_rows" class="feed"></div>
    </div>
    <br class="clear" />
  </div>
</div>