<div class="explore_section explore_tastemakers" id="explore_tastemakers">
  <div class="explore_section_wrapper">
    <div class="explore_section_header">
      <div class="explore_play_button audio_top_play_all" id="explore_play_button_tastemakers"></div>
      <div class="explore_header_wrapper">
        <div class="explore_header">Tastemakers</div>
        <div class="explore_description">Follow these people and you\'ll find all the newest and best musical gems.</div>
      </div>
    </div>
    <div id="tastemaker_avatars">
      
    </div>
    <div class="explore_content" id="explore_content_tastemakers">
      <div id="item_rows"></div>
    </div>
  </div>
</div>