<div class="explore_section explore_albumoftheweek" id="explore_aow">
  <div class="explore_section_wrapper">
    <div class="explore_section_header">
      <div class="explore_play_button" id="explore_play_button_album_of_week">play</div>
      <div class="explore_header_wrapper">
        <div class="explore_header">Album of the Week</div>
        <div class="explore_description">Our featured album this week. Go ahead and drop a metaphorical needle on this bad boy.</div>
      </div>
      <br class="clear" />
    </div>
    <div class="explore_content" id="explore_content_album_of_week">
      <div id="explore_content_aow_meta">
<div id="explore_content_album_of_week_album"></div>
        <a id="explore_content_album_of_week_artist"></a>
      </div>
      <div id="explore_content_album_of_week_coverart"></div>
      <div id="aow_audiolist_wrapper">
        <ol id="explore_content_album_of_week_audios" class="explore_audiolist"></ol>
      </div>
            <br class="clear" />
    </div>
  </div>
</div>