<% if (audio.viewer_love != null){ %>
    <div class="explore_content_top_audios_audio_love explore_audiolist_love audio_view_love audio_view_love_<%= audio.id %> on"></div>
<% } else { %>
    <div class="explore_content_top_audios_audio_love explore_audiolist_love audio_view_love audio_view_love_<%= audio.id %>"></div>
<% } %>
<div class="explore_content_top_audios_audio_play explore_audiolist_play audio_view_play_button"></div>
<a href="/audio/<%= audio.id %>" class="explore_content_top_audios_audio_title explore_audiolist_title"><%= audio.title %></a>
<span class="explore_content_top_audios_audio_by">trình bay</span>
<a href="/search/<%= audio.artist.replace(/ /g, "+") %>" class="explore_content_top_audios_audio_artist explore_audiolist_artist"><%= audio.artist %></a>
