<div class="explore_section">
    <div class="explore_section_wrapper">
        <div class="explore_section_header">
        	<div class="explore_header_wrapper">
        		<div class="explore_play_button audio_top_play_all" id="explore_play_button_latest_loved">play</div>
        		<div class="explore_header"><%= title %></div>
        		<div class="explore_description"></div>
        	</div>
        </div>
        <div class="explore_content" id="explore_content_latest_loved">
            <div id="item_rows" class="<%= item_rows_classname %>"></div>
        </div>
    </div>
</div>
