<% if (loggedInUser == null){ %>
<div class="home_coach_mark" id="home_account_text"> <span class="home_coach_bullet"><span></span></span> <span class="home_coach_text">Create an account to start loving audios and make friends</span> </div>
<div class="home_coach_mark" id="home_trending_text"> <span class="home_coach_bullet"><span></span></span> <span class="home_coach_text">The most-loved music right now</span> </div>
<div class="home_coach_mark" id="home_explore_text"> <span class="home_coach_bullet"><span></span></span> <span class="home_coach_text">Listen by genre, favorites and more</span> </div>
<% } %>
<div id="home_container">
<div id="home_title">TANCODE - Listen to Great Music.</div>
  <div id="home_description">Curated by us, our tastemakers and your friends.</div>
  
  <div id="home_search_container">
    <form id="home_search_form">
      <input id="home_search" class="large_input_text" placeholder="Search music" type="text" />
      <input id="home_search_button" type="button" value="search" />
      <span id="home_search_bg"></span>
    </form>
  </div>
  <ul id="search_suggess" class="ui-autocomplete display_none"></ul>
  <div class="clear"></div>
</div>
  <script type="text/javascript" src="http://www.adcash.com/script/java.php?option=rotateur&rotateur=182304"></script>
<div id="home_footer_container"></div>
