<div class="trending_audio a_audio a_audio_vVPMdjf50F" style="width:150px;height:150px;background:#fff;border-radius:8px;margin-left:2px;">
    <div class="album_list_info" style="bottom:0;">
      <div class="trending_meta_basic" style="text-align: left;line-height:28px;padding-left:5px;">
        <a class="trending_audio_artist" href="/artist/<%= item.id %>"><%= item.name %></a>
        <div class="clear"></div>
      </div>
    </div>
    <div class="trending_audio_bg" style="background-image:url(&quot;/static/artists/<%= item.id %>_large.jpg&quot;);background-position:-1px -1px;background-size:302px auto;"></div>
</div>