<div class="search_audio_section">
    <div class="search_audio_section_wrapper">
        <div class="search_audio_section_header">
          <div class="search_audio_section_wrapper">
            <div class="search_audio_header">
                    <div id="search_results_total">No audios found for</div>
                    <div class="search_term">&lsquo;<%= title %>&rsquo;</div>
                </div>
            <div class="search_audio_description"></div>
          </div>
        </div>
        <div class="search_audio_content">
            <div id="item_rows">
                <div class="search_audio_none_found">No audios found. Please try another search term.</div>
            </div
        </div>
    </div>
</div>