<div class="settings_description">Change or update your email and password.</div>
<div class="settings_profile_left">
    <form id="settings_account_form">
        <div class="settings_profile_section">
            <div class="settings_profile_item">
              <div class="settings_profile_label">Email:</div>
                <input id="settings_account_email" type="text" class="large_input_text" />
                <div class="settings_profile_description">Enter the email address you want to use.</div>
            </div>
            <div class="settings_profile_item">
              <div class="settings_profile_label">Password:</div>
                <input id="settings_account_password" type="password" class="large_input_text" />
                <div class="settings_profile_description">Enter the new password.</div>
            </div>
            <div class="settings_profile_item">
              <div class="settings_profile_label">Retype new password:</div>
                <input id="settings_account_password_verify" type="password" class="large_input_text" />
                <div class="settings_profile_description">Retype your new password.</div>
            </div>
        </div>
        <div class="settings_profile_item">
            <div id="settings_account_save_button" class="generic_button" value="Save">
                <div class="loader_small display_none" id="settings_account_save_green_check"></div>
                <input type="submit" value="" />
               Save changes
            </div>
        </div>
    </form>
</div>