<div class="settings_profile_section">
    <div id="find_friends_search" class="find_friends_section">
        <div id="find_friends_top">
          <div id="find_friends_text">     </div>
            <form id="find_friends_form">
                <input type="text" class="large_input_text" id="find_friends_input" placeholder="Search fried by name or email" />
            </form>
        </div>
        <div class="settings_profile_header" id="settings_friends_header">Friend suggestions</div>
        <div id="find_friends_results"></div>
        <br class="clear" />
    </div>
</div>
