<div id="tutorial_header_welcome">
  <div id="tutorial_header_text">Welcome to AltSounds LISTEN</div>
  <div id="tutorial_close" class="modal_close_button"></div>
</div>
<div id="tutorial_body_welcome">
  <div id="tutorial_top">Welcome to AltSounds LISTEN!</div>
  <div id="tutorial_middle">
      <div class="tutorial_text">We&rsquo;ve built AltSounds LISTEN from the ground up to be faster, more intuitive and just plain better than other cloud based music players out there. 
      </div>
      
      <div class="tutorial_text">
        Your can <em>Love</em> audios. You can see what is <a href="/trending" class="tutorial_in_link">Trending</a> and popular on AltSounds LISTEN right now, and there are tons of ways to find great music in the <a href="/explore" class="tutorial_in_link">Explore</a> section. There are also extensions built specifically for <a href="/firefox" target="_blank" outbound_type="tutorial">Firefox</a> &amp; <a href="/safari" target="_blank" outbound_type="tutorial">Safari</a>.
      </div>
      
      <div class="tutorial_text">
        <a href="/sign-in" class="tutorial_in_link">Sign in now</a> to get started, and <a href="mailto:'+mail_contact+'" target="_blank" outbound_type="tutorial">let us know</a> what you think!<br />We hope you love AltSounds LISTEN as much as we do. 
      </div>
      <div class="tutorial_text"><strong>&ndash;Team AltSounds</strong></div>
  </div>

</div>
<div id="tutorial_bottom">
    <a href="/tutorial/1" class="tutorial_bottom_button_welcome generic_button" id="tutorial_bottom_next">See What&rsquo;s New</a>
</div>